.post {
	display: grid;
	grid-template-columns: auto 1fr;
	grid-template-rows: auto 1fr;
	padding: 1rem;
	margin-top: 1rem;
	background-color: var(--panel-color);
	border-radius: var(--border-radius);
	box-shadow: var(--shadow);
}

.postheader {
	grid-column: span 2;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	gap: 1rem;
	text-transform: capitalize;
	font-weight: 700;
	padding-bottom: 0.5rem;
}

.profilepicture {
	border-radius: 50%;
}
.timestamp {
	margin-left: auto;
	font-weight: 500;
	font-size: 0.6rem;
}

.icon {
	margin-left: auto;
	font-size: 20px;
	cursor: pointer;
}
