.navbar {
	display: grid;
	grid-template-columns: subgrid;
	grid-column: 1/-1;
	padding: 1rem;
	background-color: var(--panel-color);
	box-shadow: var(--shadow);
}

.gridcontent {
	grid-column: 2;
	display: flex;
	justify-content: center;
	gap: 2rem;
}
