.navbar {
	display: grid;
	grid-template-columns: subgrid;
	grid-column: 1/-1;
	padding: 1rem;
	background-color: var(--panel-color);
	box-shadow: var(--shadow);
}

.gridcontent {
	grid-column: 2;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 2rem;
}

.usercontent {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	gap: 2rem;
	margin-right: 2rem;
}

.icons {
	cursor: pointer;
	width: 1.5rem;
	height: 1.5rem;
	transition: all 0.2s ease;
}

.iconwrapper {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	vertical-align: middle;
	width: 2rem;
	height: 2rem;
	border-radius: 50%;
	background-color: var(--background);
	&:hover {
		background-color: var(--accent);
		color: var(--panel-color);
	}
}
